<form class="example-form" [formGroup]="Reactiveform" (ngSubmit)="SaveUser()">
  <div class="title-sec">
    <p class="title-tag">Add User</p>
  </div>

  <mat-divider></mat-divider>

  <!-- <mat-form-field class="feild-sec" appearance="outline">
      <mat-label>Group ID</mat-label>
      <input matInput formControlName="groupId">
    </mat-form-field> -->

  <div class="form-container">
    <mat-form-field class="feild-sec split-feild" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="feild-sec" appearance="outline">
      <mat-label>Eamil</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </div>

  <!-- <mbsc-select [data]="myData" display="anchored"  [filter]="true" label="Countries" [itemTemplate]="itemTemp" labelStyle="stacked" inputStyle="box" placeholder="Please select..."></mbsc-select>
    <ng-template #itemTemp let-item>
        <div class="md-country-picker-item">
            <img class="md-country-picker-flag" [src]="'https://img.mobiscroll.com/demos/flags/' + item.data.value + '.png'" />
            {{item.display}}
        </div>
    </ng-template> -->

  <div class="form-container">
    <mat-form-field class="feild-sec split-feild" appearance="outline">
      <mat-label>Create Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <mat-form-field class="feild-sec" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
    </mat-form-field>
  </div>


  <div class="form-container">
    <mat-form-field class="feild-sec  split-feild" appearance="outline">  
      <mat-label>Date of Birth</mat-label>  
      <input matInput [matDatepicker]="dob" formControlName="dob">  
      <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>  
      <mat-datepicker #dob></mat-datepicker>  
    </mat-form-field>  


    <mat-form-field class="feild-sec" appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="english">Male</mat-option>
        <mat-option value="dutch">Female</mat-option>
      </mat-select>
    </mat-form-field>
</div>

  <div class="contact-sec">
    <p>Contact Details</p>
  </div>

  <mat-form-field class="feild-sec" appearance="outline">
    <mat-label>Eamil Work</mat-label>
    <input matInput formControlName="emailWork" />
  </mat-form-field>

  <mat-form-field class="feild-sec" appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" />
  </mat-form-field>

  <div class="form-container">
    <mat-form-field class="feild-sec split-feild" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>

    <mat-form-field class="feild-sec" appearance="outline">
      <mat-label>State/Region/Province</mat-label>
      <input matInput formControlName="region" />
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="feild-sec split-feild" appearance="outline">
      <mat-label>Postal / Zip Code</mat-label>
      <input matInput formControlName="zipcode" />
    </mat-form-field>

    <mat-form-field class="feild-sec" appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option value="english">English</mat-option>
        <mat-option value="dutch">Dutch</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="feild-sec" appearance="outline">
    <mat-label>Mobile No</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <!-- <p><span>You selected: </span><b>{{toppings.value}}</b></p> -->
  <button mat-raised-button type="submit" class="save-btn">
    <mat-icon>save</mat-icon>
    Save</button
  ><br />
</form>
