<div class="view-box">

    <div class="title-sec">
        <p class="title-tag">View Details</p>
      </div>


    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>face</mat-icon>
            <mat-label class="lable-name">Name:</mat-label>
        </div>
          
          <mat-label class="data-sec">Steijn van Harlingen</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon> email</mat-icon>
            <mat-label class="lable-name">Email:</mat-label>
        </div>
          
          <mat-label class="data-sec">1006572@leerling.tabor.nl</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>perm_identity</mat-icon>
            <mat-label class="lable-name">RFID:</mat-label>
        </div>
          
          <mat-label class="data-sec">1832805446</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>calendar_today</mat-icon>
            <mat-label class="lable-name">DOB:</mat-label>
        </div>
          
          <mat-label class="data-sec">2004-05-05</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>female</mat-icon>
            <mat-label class="lable-name">Gender:</mat-label>
        </div>
          
          <mat-label class="data-sec">Male</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>height</mat-icon>
            <mat-label class="lable-name">Height:</mat-label>
        </div>
          
          <mat-label class="data-sec">175</mat-label>
    </div>

    <span layout="row"><hr flex/></span>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>email</mat-icon>
            <mat-label class="lable-name">Eamil Work:</mat-label>
        </div>
          
          <mat-label class="data-sec">test@gmail.com</mat-label>
    </div>


    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>location_on</mat-icon>
            <mat-label class="lable-name">Address:</mat-label>
        </div>
          
          <mat-label class="data-sec"></mat-label>
    </div>


    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>location_city</mat-icon>
            <mat-label class="lable-name">City:</mat-label>
        </div>
          
          <mat-label class="data-sec"></mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>domain</mat-icon>
            <mat-label class="lable-name">State:</mat-label>
        </div>
          
          <mat-label class="data-sec"></mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>home</mat-icon>
            <mat-label class="lable-name">Zip Code:</mat-label>
        </div>
          
          <mat-label class="data-sec"></mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon> call</mat-icon>
            <mat-label class="lable-name">Mobile No:</mat-label>
        </div>
          
          <mat-label class="data-sec">+31612483753</mat-label>
    </div>


</div>

