<div class="view-box">
  <div class="title-sec">
    <p class="title-tag">View Details</p>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <!-- <mat-icon>face</mat-icon> -->
      <mat-label class="lable-name">Name:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="Pedro Cruz" />
        <mat-icon>face</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Email:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="1006572@leerling.tabor.nl" />
        <mat-icon> email</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">RFID:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="1832805446" />
        <mat-icon>perm_identity</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Date of Birth:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="2023/03/08" />
        <mat-icon>calendar_today</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Gender:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="Male" />
        <mat-icon>female</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Height:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="175" />
        <mat-icon>height</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <span layout="row"><hr flex /></span>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Eamil Work:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="test@gmail.com" />
        <mat-icon>email</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Address:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="testtttttttttttttttt" />
        <mat-icon>location_on</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">City:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="testtttttttttttttttt" />
        <mat-icon>location_on</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">State:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="testtttttttttttttttt" />
        <mat-icon>location_on</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Zip Code:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="testtttttttttttttttt" />
        <mat-icon>location_on</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Mobile No:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="+31612483753" />
        <mat-icon> call</mat-icon>
      </div>
    </mat-form-field>
  </div>
</div>
