<div class="view-box">

    <div class="title-sec">
        <p class="title-tag">View Details</p>
      </div>


    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>assignment</mat-icon>
            <mat-label class="lable-name">Sub Group Name:</mat-label>
        </div>
          
          <mat-label class="data-sec">Sub group 1</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>perm_identity</mat-icon>
            <mat-label class="lable-name">Group ID:</mat-label>
        </div>
          
          <mat-label class="data-sec">123456987</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>face</mat-icon>
            <mat-label class="lable-name">Provider Pro:</mat-label>
        </div>
          
          <mat-label class="data-sec">Test</mat-label>
    </div>

    <div class="form-container">
        <div class="lable-sec">
            <mat-icon>share</mat-icon>
            <mat-label class="lable-name">Data Sharing Id:</mat-label>
        </div>
          
          <mat-label class="data-sec">20040505</mat-label>
    </div>

    



