<div class="view-box">
  <div class="title-sec">
    <p class="title-tag">View Details</p>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Sub Group Name:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="Sub group 1" />
        <mat-icon>assignment</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Group ID:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="Sub group 1" />
        <mat-icon>perm_identity</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Provider Pro:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="Test" />
        <mat-icon>face</mat-icon>
      </div>
    </mat-form-field>
  </div>

  <div class="form-container">
    <div class="lable-sec">
      <mat-label class="lable-name">Data Sharing Id:</mat-label>
    </div>

    <mat-form-field class="feild-sec" appearance="outline">
      <div class="value-sec">
        <input matInput value="20158745" />
        <mat-icon>share</mat-icon>
      </div>
    </mat-form-field>
  </div>
</div>
