.mat-form-field-outline {
  // background-color: #fff !important;
  border-radius: 10px;
  margin-left: 20px;
}

.form-group {
  padding: 4px 30px !important;
  box-shadow: none !important;
}

.sec-search-form{
  width: 1000px;
  box-shadow: none !important;
}

.search-bar-sec{
  border-radius: 20px;
  width:500px;
}

.search-sec-btn{
  margin-left: 220px;
  margin-top: 18px !important;
}


.mat-form-field{
  margin-left: 20px;
  margin-top: 10px;
}