<div class="delete-dialog-box">

    <span class="material-icons red-color">highlight_off </span>

<h5 class="title-sec">Are You Sure?</h5>
    
<mat-dialog-content>
    <p class="message-sec">{{message}}</p>
</mat-dialog-content>
    
<mat-dialog-actions align="center">
    <button mat-raised-button class="cancel-btn"  (click)="onCancelClick()" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
    <button mat-raised-button class="confirm-btn" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
</mat-dialog-actions>

</div>