.example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .feild-sec{
    width: 100%;
  }

  .lable-sec{
    padding-right: 50px;
  }

  .input-sec{
    width:500px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 35px;
  }

.feild-sec{
    display: block;
}

.sub-group-sec{
  padding-right: 200px;
  // flex: 1;
  // margin-right: 10px;
}

.form-container {
  display: flex;
  align-items: center;
}

// .input-field {
//   flex: 1;
//   margin-right: 10px;
// }

.button-field {
  flex: 0;
}