<form (ngSubmit)="onSubmit()" autocomplete="off" class="" ngForm="searchCompanyForm"
      novalidate style="width: 100%;">

<!--  Todo : Add form group when the data is available for the dropdown [formGroup]="searchCompanyForm"-->

  <div  class="row">
    <div class="col-md-4">
      <label>
        Company Name
      </label>
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Type Here"
                 width="100%"/>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-4">
      <label>
        Company Contact Name
      </label>
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput placeholder="Type Here"
                 width="100%"/>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-4">
      <button (click)="onSubmit()" class="float-right mt-2" color="primary" mat-button mat-raised-button
              type="button"><mat-icon>search</mat-icon>  Search
      </button>
      <button (click)="onSubmit(true)" class="float-right mt-2 mr-2" color="default" mat-button mat-raised-button
              type="button"><mat-icon>clear</mat-icon>  Clear
      </button>
    </div>
  </div>
</form>
