<form (ngSubmit)="onSubmit()" autocomplete="off" class="" ngForm="searchCompanyForm"
      novalidate style="width: 100%;">
  <div class="row sec-search-form">
    <div class="col-md-2">
      <div>
        <mat-form-field appearance="outline" class="search-bar-sec">
          <input matInput placeholder="Company Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-2">
      <div>
        <mat-form-field appearance="outline" class="search-bar-sec">
          <input matInput placeholder="Company Contact Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-1">
      <button (click)="onSubmit()" class="float-right mt-2 pr-3 search-sec-btn" color="primary" mat-button mat-raised-button
              type="button"><mat-icon>search</mat-icon>  Search
      </button>
    </div>
  </div>
</form>
