<form class="example-form">
    <mat-form-field class="feild-sec">
      <mat-label class="lable-sec">Group ID</mat-label>
      <input matInput placeholder="" class="input-sec">
    </mat-form-field>
  
    <mat-form-field class="feild-sec">
      <mat-label class="lable-sec">Group Name</mat-label>
      <input matInput placeholder="" class="input-sec">
    </mat-form-field>
  
    <mat-form-field class="feild-sec">
        <mat-label class="lable-sec">Language</mat-label>
        <input matInput placeholder="" class="input-sec">
      </mat-form-field>

      <mat-form-field class="feild-sec">
        <mat-label class="lable-sec">Provide Owner</mat-label>
        <input matInput placeholder="" class="input-sec">
      </mat-form-field>
  
    <button mat-button>Submit</button>
  </form>
  


 <!-- <form>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Group ID</mat-label>
            <input placeholder="" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Comapany Name</mat-label>
            <input placeholder="" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Language</mat-label>
            <mat-select></mat-select>
        </mat-form-field>

    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button mat-dialog-close>Save</button>
      </div>
 </form> -->

 
