.example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 150%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .feild-sec{
    width: 100%;
    padding-left: 170px;
  }

  .lable-sec{
    padding-right: 50px;
  }

  .input-sec{
    width:500px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-right: 35px;
  }

.feild-sec{
    display: block;
}

.sub-group-sec{
  padding-right: 200px;
  // flex: 1;
  // margin-right: 10px;
}

.form-container {
  display: flex;
  align-items: center;
}

// .input-field {
//   flex: 1;
//   margin-right: 10px;
// }

.button-field {
  flex: 0;
}

.lable{
  display: block;
  margin-bottom: 8px;
}

.title-tag{
  
}

.title-sec{
  background-color: #89CFF0;
  text-align: center;
  width: 125%;
  margin-left: 170px;
  padding: 10px;
}

.mat-form-field-flex {
  border-radius: 10px;
}